<!-- This is a website for testing a form setup -->
<html>
	<head>
		<!-- Imports -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>OmniTracker</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
		<style>
			.mainDiv {
				text-align:center; 
				font-family: 'Verdana'; 
				font-size: 16px; 
				width: 66%; 
				margin-left: auto; 
				margin-right: auto; 
				margin-top: 100px; 
				color: white; 
				background-color: #293241 ; 
				padding: 15px; 
				border-radius: 15px; 
				color: #D3D3D3;
			}
			.navbar {
				background-color: #343F51;
				border: 3px solid;
				border-color: black;
			}
			li a {
				font-family: 'Verdana';
				font-size: 20px;
				font-weight: bold;
			  	color: #ee6c4d ;
			}
			.navbar-brand{
				color: #ee6c4d ;
				font-family: 'Verdana';
				font-size: 20px;
				font-weight: bold;
			}
			.navbar li a:hover {
				background-color: #293241;
				color: #ee6c4d ;
			}
			img {
				width: 20px;
				height: 20px;
				margin-left: 5px;
				vertical-align: middle;
			}
			.tableHead {
				text-align: center;
				padding: 10px;
			}
			.makeTable {
				width: 66%;
				table-layout: fixed;
				margin-left: auto; 
				margin-right: auto; 
				text-align: center;
				border-collapse: collapse;
			}
			tr:first-child th {
				border-top: none;
			}

			tr:last-child td {
				border-bottom: none;
			}
			.left {
				color: #D3D3D3;
				text-align: left;
				padding: 10px;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			.right {
				color: black;
				text-align: right;
				padding: 10px;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			.middle {
				color: #black;
				text-align: center;
				padding: 10px;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			.submitDiv {
				text-align: center;
			}
			.submitBtn {
				height: 50px; 
				width: 100px; 
				font-size: 20px; 
				margin-left: auto; 
				margin-right: auto; 
				margin-top: 30px;
			}
		</style>
	</head>

	<body style="background-color: #D3D3D3;">

		<!-- Top Navbar -->
		<nav class="navbar navbar-expand-lg fixed-top">
			<!-- OmniTracker logo in navbar -->	
			<a class="navbar-brand"><img src="/static/images/OmniTracker.png" style="width: auto; height: 20px"></a>		

			<!-- Navbar expand for mobile screens -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"><img src="{{ url_for('static', filename='images/expandBtn.png') }}" style="width: 100%; height: 100%;"></img></span>
    		</button>

			<!-- The various links in the navbar -->
			<div class="collapse navbar-collapse" id="navbarNav"> 
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="OmniView">View Trackers</a></li>
					<li class="nav-item"><a class="nav-link" href="OmniMake">Make Tracker</a></li>
					<li class="nav-item"><a class="nav-link" href="OmniCalendar">Calendar</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if current_user.is_authenticated %}
					<li class="nav-item"><a class="nav-link" href="OmniLogout">Logout</a></li>
					{% else %}
					<li class="nav-item"><a class="nav-link" href="OmniLogin">Login</a></li>
					<li class="nav-item"><a class="nav-link" href="OmniSignUp">Sign Up</a></li>
					{% endif %}
				</ul>
			</div>
			
		</nav>

		
		<!-- Content of the paage -->
		<div class="mainDiv">

			<form class="form" action="{{ url_for('views.make') }}" method="post">
				<div id="mainForm" style="display: inline-block; text-align: left; width: 90%;">

					<input type="hidden" id="fieldCount" name="fieldCount" value="1">

					<table class="makeTable">
						<thead>
							<tr>
								<th style="text-align: left; color: #D3D3D3;">Table Name:</th>
								<th style="text-align: right; color: #D3D3D3;">Click to add a field:</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="text-align: left; color: black;">
									<input type="text" id="tableName" name="tableName" placeholder="Table Name" onkeyup="checkSubmit()">
								</td>
								<td style="text-align: right; color: black;">
									<button type="button" class="btn btn-secondary" onclick="appendField()">Add Field</button>
								</td>
							</tr>
						</tbody>
					</table>

					<br><br>

					<table id = "mainTable" class="makeTable">
						<thead>
							<tr>
								<th class="left">Field Number</th>
								<th class="middle" style="color: #D3D3D3;">Field Name:</th>
								<th class="right" style="color: #D3D3D3;">Field Type</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="left">
									<label type="label" id="label1" class="control-label" for="1">1st Field</label>
								</td>
								<td class="middle">
									<input type="text" id="1name" name="1name" placeholder="Field Name" onkeyup="checkSubmit()">
								</td>
								<td class="right">
									<select id="1" name="1" style="margin-right: 25px;">
										<option>Text</option>
										<option>Number</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<br><br>

				<div class="submitDiv">
					<button type="submit" id="submitBtn" class="btn btn-primary submitBtn" disabled>Submit</button>
					<p id="disableMessage" style="color: #ee6c4d;">(please fill out all the text fields)</p>
				</div>
			</form>
		</div>

		<br><br><br>

		<div class="footer">
			<nav class="navbar navbar-expand-sm fixed-bottom">

				<!-- Navbar expand for mobile screens (Shouldn't ever be needed as its only two items) -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"><img src="{{ url_for('static', filename='images/expandBtn.png') }}" style="width: 100%; height: 100%;"></img></span>
	    		</button>

				<div class="collapse navbar-collapse" id="navbarNav"> 
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="OmniAbout">About Me</a></li>
						<li class="nav-item"><a class="nav-link" href="https://github.com/AlexJButton/OmniTracker" target="_blank" rel="noopener noreferrer">GitHub</a></li>
					</ul>
				</div>
			</nav>
		</div>




		<script type="text/javascript">
			function checkSubmit() {
				var allInput = document.getElementsByTagName("input");
				var filled = true;

				for (var i = 0; i < allInput.length; i++) {
					var input = allInput[i];
					if (input.value.trim() == "" || input.value == null) {
						var filled = false;
						break;
					}
				}

				if (filled) {
					document.getElementById("submitBtn").removeAttribute("disabled");
					document.getElementById("disableMessage").innerHTML = "<br>";
				}
				else {
					document.getElementById("submitBtn").setAttribute("disabled", true);
					document.getElementById("disableMessage").textContent = "(please fill out all the text fields)";
				}
			}

			function appendField() {

				// Getting the fields and what the next number for the fields is
				var container = document.getElementById("mainForm");
				var fields = container.getElementsByTagName("select");
				var num = fields.length + 1;

				// Adding the ordinal to the number
				var word = getOrdinal(num)

				// Creating the row and cells of the table
				var table = document.getElementById("mainTable");
				var newRow = table.insertRow();
				var cell1 = newRow.insertCell(0);
				var cell2 = newRow.insertCell(1);
				var cell3 = newRow.insertCell(2);
				cell1.className = "left";
				cell2.className = "middle";
				cell3.className = "right";

				// Creating the label element
				var label = document.createElement("label");
				label.textContent = word + " Field";
				label.type = "label";
				label.id = "label" + num;
				label.className = "control-label";
				label.for = String(num);
				cell1.innerHTML = label.outerHTML;

				// Creating the input name element
				var input = document.createElement("input");
				input.type = "text";
				input.id = num+"name";
				input.name = num+"name";
				input.placeholder = "Field Name";
				cell2.innerHTML = input.outerHTML;
				var input = document.getElementById(num+"name");
				input.addEventListener("keyup", checkSubmit)

				// Creating the select element
				var select = document.createElement("select");
				select.id = String(num);
				select.name = String(num);
				container.appendChild(select);
				// Making the option list for the select element
				var array = ["Text","Number"];
				var selectList = document.getElementById(String(num));
				for (var i = 0; i < array.length; i++) {
					var option = document.createElement("option");
					option.text = array[i];
					selectList.appendChild(option);
				}

				// Making the delete field button
				var imgInput = document.createElement("img");
				imgInput.title = "Delete Field";
				imgInput.src="/static/images/delete.png";
				imgInput.id = "deleteBtn"+num;

				// Combining the delete button and field type selector so they can be added to the table cell
				var div = document.createElement("div");
				div.appendChild(select);
				div.appendChild(imgInput);
				cell3.innerHTML = div.outerHTML;
				delbtn = document.getElementById("deleteBtn"+num);
				delbtn.addEventListener("click", deleteField);

				// Incrementing the inivisble field counter used in the python code
				var fieldCount = document.getElementById("fieldCount");
				var val = parseInt(fieldCount.value) || 0;
				fieldCount.value = val + 1;

				// Calling the checkSubmit function to disable the submit button as the user just added an empty field
				checkSubmit();
			}


			function deleteField(event) {

				// Getting the field number
				var num = event.target.id.replace(/\D/g, "");
				var container = document.getElementById("mainForm");
				var fields = container.getElementsByTagName("select");
				len = fields.length;

				// Getting all the elements for the field
				var label = document.getElementById(String("label"+num));
				var input = document.getElementById(String(num+"name"));
				var select = document.getElementById(String(num));
				var imgInput = document.getElementById(String("deleteBtn"+num));

				// Deleting the field
				if (label) { // Error checking for if it actually exists
					const table = document.getElementById("mainTable");
					table.deleteRow(num);
					label.remove();
					input.remove();
					select.remove();
					imgInput.remove();
				}
				else {
					console.warn("label of id: label" + num + " does not exist")
				}

				// Now to lower all the remaining fields after it by 1 to keep the count correct
				if (num < len) {

					// For every row after the one deleted
					for (i = parseInt(num)+1; i <= len; i++) {

						const label = document.getElementById(String("label"+i));
						const input = document.getElementById(String(i+"name"));
						const select = document.getElementById(String(i));
						const imgInput = document.getElementById(String("deleteBtn"+i));
						const br = document.getElementById(String("br"+i));

						if (label) { // Error checking for if it actually exists

							// Changing label id and text
							label.id = "label" + (i-1);
							var word = getOrdinal(i-1);
							label.textContent = word + " Field"

							// Changing input id & name
							input.id = String((i-1)+"name");
							input.name = String((i-1)+"name");

							// Changing the select id & name
							select.id = i - 1;
							select.name = i - 1;

							// Changing image id
							imgInput.id = "deleteBtn" + (i-1);
						}
						else {
							console.warn("label of id: label" + num + " does not exist")
						}
					}
				}

				// Decrementing the inivisble field counter used in the python code
				var fieldCount = document.getElementById("fieldCount");
				var val = parseInt(fieldCount.value) || 0;
				fieldCount.value = val - 1;

				// Calling the checkSubmit function as there could be empty fields
				checkSubmit();
			}

			function getOrdinal(num) {
				// Function to get a number and to attach the ordinal to it
				var lastDigit = num % 10;
				if (lastDigit == 1) {
					var word = num+"st";
				}
				else if (lastDigit == 2) {
					var word = num+"nd";
				}
				else if (lastDigit == 3) {
					var word = num+"rd";
				}
				else {
					var word = num+"th";
				}

				return word;
			}
		</script>

	</body>
</html>